{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <div class="homepage">
    <div class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
      <div role="main">
        <div class="container">
          {% if g.site_description %}<h2 class="strapline"><span>{{ g.site_description }}</span></h2>{% endif %}
          <div class="row">
            <div class="span3">
              <a class="box" href="/dataset">{{ _('Datasets') }}</a>
            </div>
            <div class="span3">
              <a class="box" href="/organization">{{ _('Organizations') }}</a>
            </div>
            <div class="span3">
              <a class="box" href="/group">{{ _('Groups') }}</a>
            </div>
            <div class="span3">
              <a class="box" href="/about">{{ _('About') }}</a>
            </div>
          </div>
          <div class="row">
            <div class="span3">
              <a class="box">1</a>
            </div>
            <div class="span3">
              <a class="box">2</a>
            </div>
            <div class="span3">
              <a class="box">3</a>
            </div>
            <div class="span3">
              <a class="box">4</a>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
