//LESS Document
/* Fonts */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic);

//Variables
@text: #3D3D3D;
@medium-text: #5D5D5D;
@light-text: #818181;
@light: #F8F8F7;
@medium: #E3E3E3;
@dark: #C8C8C8;
@primary: #005499; 
@secondary: #D3A032;
@danger: spin(@primary, 148);
@success: spin(@primary, -70);
@serif: 'PT Serif', Georgia, Times, "Times New Roman", serif;
@sans:  "PT Sans", "Trebuchet MS", tahoma, sans-serif;

//Mixins
.font-size(@sizeValue) {
  @remValue: (@sizeValue / 10);
  @pxValue: @sizeValue;
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}
.rounded(@radius: 3px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
.box-sizing(@sizing: border-box) {
  -ms-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing;
}


/* Sets up the base 10 */
html {
  font-size: 62.5%;
  overflow-x:hidden;
}

body {
  color: @text;
  font-family: @serif;
  .font-size(17);
  line-height:1.4;
  background-image:none;
  background-color:@light;
}
@media (max-width: 767px) {
  body {
    background-image:url("../../../base/images/bg.png");
  }
}
li {
  line-height:1.4;
}

a,
a:hover,
a:focus {
  color:@primary;
}

input, select, textarea {
  font-family: @serif;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: @light;
  border-color: @dark;
  .box-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: @medium;
  background-color:#fff;
  .box-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  .rounded(0);
  font-size:inherit;
}


button {
  font-family: @sans;
}

.btn {
  background-color: @light-text;
  background-image: none;
  border-color: @light-text;
  .rounded(0);
  .box-shadow(none);
  color: #fff;
  text-shadow: none;
  font-family:@sans;
  .caret {
    border-top-color:#fff;
  }
}
.btn:hover,
.btn:focus {
  color: #fff;
  background-color: @light-text;
  text-shadow: 0 0 1px darken(@primary, 30%);
}

.btn-primary {
  background-color: @primary;
  background-image: none;
  border-color:@primary;
  text-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: @primary;
}

.btn-success {
  background-color: @success;
  background-image: none;
  border-color: @success;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
   background-color: @success;
}

.btn-danger {
  background-color: @danger;
  background-image: none;
  border-color: @danger;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: @danger;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: @primary;
}
.btn-group > .btn:first-child,
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  .rounded(0);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: @primary;
  background-image: none;
}

.table {
  .font-size(14);
}








.pill {
  background-color: @secondary;
  .rounded(0);
  a,
  a:hover,
  a:focus {
    color: #fff;
  }
  a.remove {
    text-decoration:none;
  }
}


.tag {
  background-color: @secondary;
  border: none;
  .rounded(0 2px 2px 0);
  .box-shadow(none);
  color: #fff;
  margin-bottom: 10px;
	margin-left:13px;
  padding: 3px 10px 3px 6px;
	position:relative;
  font-family:@sans;
  font-size:15px;
}
.tag:before{
	content:"";
	position:absolute;
	top:0;
	left:-13px;
	width:0;
	height:0;
	border-color:transparent @secondary transparent transparent;
	border-style:solid;
	border-width:13px 13px 13px 0;		
}
.tag:after{
	content:"";
	position:absolute;
	top:11px;
	left:-3px;
	width:4px;
	height:4px;
	.rounded(3px);
	background-color:#fff;
}
a.tag:hover {
  border: none;
  .box-shadow(none);
  background-color: @secondary;
}



.nav-tabs {
  font-family:@sans;
}

.heading {
  font-family:@sans;
}


.box {
  display:block;
  border-color:@dark;
  .rounded(0);
  .box-shadow(none);
}
a.box {
  color:@medium-text;
  font-family:@sans;
  text-align:center;
  padding:10px 20px;
  text-transform:uppercase;
}
a.box:hover {
  background-color:@secondary;
  color:#fff;
  text-decoration:none;
}

.account-masthead {
  background-image:none;
  background-color:#fff;
  color: @light-text;
  font-family:@sans;
  border-bottom:solid 10px @secondary;
  hgroup {
    padding-top:15px;
    a {
      text-decoration:none;
    }
    img {
      height:30px;
    }
    .strapline {
      color:@light-text;
      font-weight:400;
      text-transform:uppercase;
      font-size:17px;
      letter-spacing:1px;
    }
  }
  .account {
    .notifications a {
      position:relative;
      span {
        background-color: @danger;
        color:#fff;
        .rounded(7px);
        font-size: 10px;
        padding: 1px;
        position:absolute;
        top:10px;
        right:10px;
        line-height: normal;
        height:12px;
        min-width:12px;
        text-align:center;
        display:none;
      }
    }
    .notifications.notifications-important a span {
      display:block;
    }
    ul li {
      border-color:@medium;
      a {
        text-transform:uppercase;
        color: @light-text;
        .font-size(15);
        font-weight: 400;
        line-height: 25px;
        padding: 15px;
        i {
          display:inline-block;
          background-color:@light-text;
          color:#fff;
          width:25px;
          height:25px;
          line-height:25px;
          text-align:center;
          .rounded(50%);
        }
      }
      a:hover {
        background-color: #fff;
        color: @primary;
        i {
          background-color:@primary;
        }
      }
    }
  }
  .account.authed .image {
    padding: 15px;
    img {
      .rounded(50%);
      width:25px;
      height:25px;
      vertical-align: -8px;
    }
  }
}
@media (min-width: 768px) {
  .account-masthead {
    hgroup {
      float:left;
      .strapline {
        display:none;
      }
    }
  }
}
@media (max-width: 767px) {
  .account-masthead {
    border-bottom-width:5px;
    text-align:center;
    hgroup {
      position:relative;
      z-index:1;
      .logo {
        img {
          height:16px;
          background-color:#fff;
          padding-left:10px;
          padding-right:10px;
        }
        .strapline {
          margin:1px 0 5px 0;
        }
      }
    }
    hgroup:before {
      background-color:@medium;
      content: "";
      display: block;
      height: 1px;
      left: 50%;
      margin-left: -140px;
      position: absolute;
      top: 29px;
      width: 280px;
      z-index: -1;
    }
    .account {
      display:none;
    }
  }
}


.masthead {
  text-align:center;
  background-color:#fff;
  .section {
    float:none;
  }
  .site-search {
    display: block;
    margin:50px 0 10px 0;
    .field {
      display:inline-block;
      width:100%;
      max-width:724px;
    }
    input[type="text"] {
      .box-sizing();
      border-color: @dark;
      height: 56px;
      padding: 5px 130px 5px 28px;
      margin:0;
      font-size:20px;
      font-style:italic;
      width:100%;
    }
  }
}
.simple-input .field {
  .btn-search {
    background-color: @secondary;
    color: #fff;
    height: auto;
    margin-top: 0;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
    width: auto;
    font-size:20px;
    text-transform:uppercase;
    i {
      display:none;
    }
  }
  .btn-search:hover {
    color:#fff;
    text-shadow: 0 0 1px darken(@secondary, 30%);
  }
}

@media (max-width: 767px) {
  .masthead {
    .site-search {
      margin-top:15px;
      margin-bottom:15px;
      .field {
        max-width:400px;
        .btn-search {
          i {
            display:block;
          }
          span {
            display:none;
          }
        }
      }
      input[type="text"] {
        height: 39px;
        padding: 5px 60px 5px 12px;
      }
    }
  }
}

.page-header {
  background-color:#fff;
  background-image:url("../../../base/images/bg.png");
}

.media-grid {
  margin-left: -25px;
  .media-item {
    width:183px;
  }
}
@media (max-width: 767px) {
  .media-grid {
    margin-left:-41px;
    margin-right:-11px;
    background-image:none;
    background-color:#fff;
    border:none;
  }
  article.module {
    border:none;
  }
}


.media-heading {
  font-family:@sans;
  font-weight:400;
}

.media-view .banner {
  font-family:@sans;
}
.media-view:hover .banner,
.media-view.hovered .banner {
  background-color: @primary;
}


[role="main"] .page {
  padding-bottom:20px;
}
.fullwidth.page {
  background-color:#fff;
  border-top:solid 1px @dark;
  .module {
    border:none;
    .page-header {
      background-color:#fff;
    }
  }
  .module-resource .actions {
    right: auto;
    top: auto;
  }
  .media-grid {
    background-image:none;
    background-color:#fff;
    border:none;
    margin-left:-15px;
    margin-right:-15px;
  }
  .wide .media-item {
    width: 194px;
  }
}
@media (max-width: 767px) {
  [role="main"] .page {
    margin-left:-21px;
    margin-right:-21px;
  }
  .fullwidth.page {
    .wide {
      .media-grid {
        margin-left:-40px;
        margin-right:-40px;
        .media-item {
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .fullwidth.page {
    .module .module-content {
      padding-left:0;
      padding-right:0;
    }
  }
}



[role="main"],
.main {
  background-color:#fff;
  background-color:rgba(255,255,255,0);
  padding-bottom:0;
}

[role="main"] .strapline {
  text-align:center;
  font-family:@sans;
  color:@medium-text;
  .font-size(26);
  text-transform:uppercase;
  position:relative;
  z-index:0;
  span {
    background-image:url("../../../base/images/bg.png");
    padding:0 20px;
  }
}
[role="main"] .strapline:before {
  background-color:@dark;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  top: 18px;
  right:0;
  z-index: -1;
}
@media (max-width: 767px) {
  [role="main"] .strapline {
    display:none;
  }
}


.toolbar .breadcrumb {
  font-family:@sans;
  text-transform:uppercase;
  .font-size (17);
  color:@medium-text;
  li:after {
    content: " > ";
  }
  a {
    color:@medium-text;
  }
}

/* Common */
.wrapper {
  background-image:none;
  background-color:transparent;
  border:none;
  .rounded(0);
  .box-shadow(none);
}

.module {
  background-color:#fff;
  border:solid 1px @dark;
  .module {
    border:none;
  }
  .module-content {
    padding-top:0;
    padding-bottom:0;
  }
  .module-content:last-child {
    padding-bottom: 25px;
  }
  .module-heading,
  .context-info h1.heading {
    background-color: transparent;
    border: none;
    font-family:@sans;
    .font-size(19);
    font-weight:400;
    text-transform:uppercase;
    padding-top:15px;
    padding-bottom:0;
    i {
      display:none;
    }
  }
  .read-more {
    .font-size(12);
    padding-left:5px;
    color:@medium-text;
  }
  .read-more:before {
    color: @secondary;
    content: "‣";
    float: left;
    font-family: @sans;
    font-size: 1.5em;
    margin-top:2px;
  }
  .read-more:hover {
    color:@primary;
    text-decoration:none;
  }
}

.secondary {
  .module-heading {
    padding-left:15px;
    padding-right:15px;
  }
  .module .module-content {
    .font-size(15);
  }
  .module .context-info h1.heading {
    padding-top:0;
  }
  .module .module .module-content:last-child {
    padding-bottom: 0;
  }
  .search-form {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
    .control-order-by {
      float:none;
      margin-left:15px;
      margin-right:15px;
      select {
        width:100%;
      }
    }
    h2 {
      font-family:@serif;
      .font-size(15);
      text-transform:none;
      padding:0 15px;
    }
  }
}


.nav-item.active > a,
.nav-aside li.active a,
.nav-item.active > a:hover,
.nav-aside li.active a:hover {
  background-color: @secondary;
  margin-left:-26px;
  padding-left:16px;
}
.nav-item.active > a:before,
.nav-aside li.active a:before {
  background-image: none;
  background-color:@secondary;
  right: -3px;
  width: 3px;
}
.nav-facet .nav-item > a:hover:after,
.nav-facet .nav-item.active > a:after {
  background-image: none;
  content: "\f067";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  margin-top: -9px;
}
.nav-facet .nav-item.active > a:after {
  content: "\f00d";
}


.span9 div.module-content {
  padding-left: 25px;
}
.module-content:first-child {
  padding-top: 25px;
}

.search-form {
  .search-input {
    display:none;
  }
  h2 {
    margin-top:0;
    font-family:@sans;
    font-weight:400;
    text-transform:uppercase;
  }
}

.span9 .page-header {
  margin-left: 0;
}


/* Home */
.homepage {
  a.box {
    word-wrap:break-word;
  }
}
@media (max-width: 767px) {
  .homepage {
    [role="main"] {
      margin-left:-21px;
      margin-right:-21px;
    }
    a.box {
      margin-top:-1px;
      text-align:left;
    }
  }
}
@media (min-width: 768px) {
  .homepage [class*="span"] {
    display:table;
    margin-bottom:20px;
    a.box {
      height:110px;
      vertical-align:middle;
      display:table-cell;
      max-width:0; /* behaves like 100% */
    }
  }
}
@media (min-width: 992px) {
  .homepage [class*="span"] {
    a.box {
      height:150px;
      .font-size(20);
    }
  }
}


/* Groups */
.media-grid {
  .media-item {
    .rounded(0);
    .font-size(15);
  }
  .media-view {
    border-color:@dark;
    .rounded(0);
  }
}
.groups.page {
  .primary {
    .module {
      border:none;
      background-color:transparent;
      .module-content {
        padding:0;
        .media-grid {
          background:none;
          border:none;
          margin:-15px -20px 0 -20px;
          .media-item {
            width: 195px;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .media-grid {
    margin-top:0;
    .media-item {
      width: 100%;
      margin-top:-1px;
      padding-left:20px;
      padding-right:50px;
      .box-sizing();
      .media-image {
        display:none;
      }
    }
  }
  .groups.page {
    .primary {
      .module {
        .module-content {
          .media-grid {
            .media-item {
              width: 100%;
            }
          }
        }
      }
    }
  }
}


/* Add */
.stages {
  margin-top:-25px;
}


/* Footer */
.site-footer {
  background-image:none;
  background-color:@light;
  color: @light-text;
  border-top:solid 1px @medium;
  a {
    color: @light-text;
  }
  label,
  small {
    color: @light-text;
  }
  .attribution .ckan-footer-logo {
    height: 23px;
    background-size:contain;
  }
}
@media (max-width: 767px) {
  .site-footer {
    margin-left:-20px;
    margin-right:-20px;
    .container {
      margin-left:20px;
      margin-right:20px;
    }
  }
}


/* IE8 Hacks */
html.ie {
  .account-masthead hgroup {
    width:200px;
    height:35px;
    position:absolute;
    overflow:hidden;
  }
  .masthead {
    .site-search {
      .field {
        float:left;
        button {
          right:-215px;
        }
      }
    }
  }
  .attribution .ckan-footer-logo {
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/../../../base/images/ckan-logo-footer.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/../../../base/images/ckan-logo-footer.png', sizingMethod='scale')";
  }
}
