@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic);
/* Fonts */
/* Sets up the base 10 */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  color: #3d3d3d;
  font-family: 'PT Serif', Georgia, Times, "Times New Roman", serif;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.4;
  background-image: none;
  background-color: #f8f8f7;
}
@media (max-width: 767px) {
  body {
    background-image: url("../../../base/images/bg.png");
  }
}
li {
  line-height: 1.4;
}
a,
a:hover,
a:focus {
  color: #005499;
}
input,
select,
textarea {
  font-family: 'PT Serif', Georgia, Times, "Times New Roman", serif;
}
div.input-prepend {
  font-size: 14px;
  font-size: 1.4rem;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #f8f8f7;
  border-color: #c8c8c8;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #e3e3e3;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: inherit;
}
button {
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
}
.btn {
  background-color: #818181;
  background-image: none;
  border-color: #818181;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  text-shadow: none;
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
}
.btn .caret {
  border-top-color: #fff;
}
.btn:hover,
.btn:focus {
  color: #fff;
  background-color: #818181;
  text-shadow: 0 0 1px #000000;
}
.btn-primary {
  background-color: #005499;
  background-image: none;
  border-color: #005499;
  text-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #005499;
}
.btn-success {
  background-color: #00992c;
  background-image: none;
  border-color: #00992c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #00992c;
}
.btn-danger {
  background-color: #99000d;
  background-image: none;
  border-color: #99000d;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #99000d;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #005499;
}
.btn-group > .btn:first-child,
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: #005499;
  background-image: none;
}
.table {
  font-size: 14px;
  font-size: 1.4rem;
}
.pill {
  background-color: #87b555;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pill a,
.pill a:hover,
.pill a:focus {
  color: #fff;
}
.pill a.remove {
  text-decoration: none;
}
.tag {
  background-color: #87b555;
  border: none;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  margin-bottom: 10px;
  margin-left: 13px;
  padding: 3px 10px 3px 6px;
  position: relative;
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
  font-size: 15px;
}
.tag:before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 0;
  height: 0;
  border-color: transparent #87b555 transparent transparent;
  border-style: solid;
  border-width: 13px 13px 13px 0;
}
.tag:after {
  content: "";
  position: absolute;
  top: 11px;
  left: -3px;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
}
a.tag:hover {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #87b555;
}
.nav-tabs {
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
}
.heading {
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
}
.box {
  display: block;
  border-color: #c8c8c8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a.box {
  color: #5d5d5d;
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
}
a.box:hover {
  background-color: #87b555;
  color: #fff;
  text-decoration: none;
}
.account-masthead {
  background-image: none;
  background-color: #fff;
  color: #818181;
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
  border-bottom: solid 10px #87b555;
}
.account-masthead hgroup {
  padding-top: 15px;
}
.account-masthead hgroup a {
  text-decoration: none;
}
.account-masthead hgroup img {
  height: 30px;
}
.account-masthead hgroup .strapline {
  color: #818181;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
}
.account-masthead .account .notifications a {
  position: relative;
}
.account-masthead .account .notifications a span {
  background-color: #99000d;
  color: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  font-size: 10px;
  padding: 1px;
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: normal;
  height: 12px;
  min-width: 12px;
  text-align: center;
  display: none;
}
.account-masthead .account .notifications.notifications-important a span {
  display: block;
}
.account-masthead .account ul li {
  border-color: #e3e3e3;
}
.account-masthead .account ul li a {
  text-transform: uppercase;
  color: #818181;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 25px;
  padding: 15px;
}
.account-masthead .account ul li a i {
  display: inline-block;
  background-color: #818181;
  color: #fff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.account-masthead .account ul li a:hover {
  background-color: #fff;
  color: #005499;
}
.account-masthead .account ul li a:hover i {
  background-color: #005499;
}
.account-masthead .account.authed .image {
  padding: 15px;
}
.account-masthead .account.authed .image img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  vertical-align: -8px;
}
@media (min-width: 768px) {
  .account-masthead hgroup {
    float: left;
  }
  .account-masthead hgroup .strapline {
    display: none;
  }
}
@media (max-width: 767px) {
  .account-masthead {
    border-bottom-width: 5px;
    text-align: center;
  }
  .account-masthead hgroup {
    position: relative;
    z-index: 1;
  }
  .account-masthead hgroup .logo img {
    height: 16px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
  }
  .account-masthead hgroup .logo .strapline {
    margin: 1px 0 5px 0;
  }
  .account-masthead hgroup:before {
    background-color: #e3e3e3;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    margin-left: -140px;
    position: absolute;
    top: 29px;
    width: 280px;
    z-index: -1;
  }
  .account-masthead .account {
    display: none;
  }
}
.masthead {
  text-align: center;
  background-color: #fff;
}
.masthead .section {
  float: none;
}
.masthead .site-search {
  display: block;
  margin: 50px 0 10px 0;
}
.masthead .site-search .field {
  display: inline-block;
  width: 100%;
  max-width: 724px;
}
.masthead .site-search input[type="text"] {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #c8c8c8;
  height: 56px;
  padding: 5px 130px 5px 28px;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  width: 100%;
}
.simple-input .field .btn-search {
  background-color: #87b555;
  color: #fff;
  height: auto;
  margin-top: 0;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  font-size: 20px;
  text-transform: uppercase;
}
.simple-input .field .btn-search i {
  display: none;
}
.simple-input .field .btn-search:hover {
  color: #fff;
  text-shadow: 0 0 1px #394f22;
}
@media (max-width: 767px) {
  .masthead .site-search {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .masthead .site-search .field {
    max-width: 400px;
  }
  .masthead .site-search .field .btn-search i {
    display: block;
  }
  .masthead .site-search .field .btn-search span {
    display: none;
  }
  .masthead .site-search input[type="text"] {
    height: 39px;
    padding: 5px 60px 5px 12px;
  }
}
.page-header {
  background-color: #fff;
  background-image: url("../../../base/images/bg.png");
}
.media-grid {
  margin-left: -25px;
}
.media-grid .media-item {
  width: 183px;
}
@media (max-width: 767px) {
  .media-grid {
    margin-left: -41px;
    margin-right: -11px;
    background-image: none;
    background-color: #fff;
    border: none;
  }
  article.module {
    border: none;
  }
}
.media-heading {
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
  font-weight: 400;
}
.media-view .banner {
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
}
.media-view:hover .banner,
.media-view.hovered .banner {
  background-color: #005499;
}
[role="main"] .page {
  padding-bottom: 20px;
}
.fullwidth.page {
  background-color: #fff;
  border-top: solid 1px #c8c8c8;
}
.fullwidth.page .module {
  border: none;
}
.fullwidth.page .module .page-header {
  background-color: #fff;
}
.fullwidth.page .module-resource .actions {
  right: auto;
  top: auto;
}
.fullwidth.page .media-grid {
  background-image: none;
  background-color: #fff;
  border: none;
  margin-left: -15px;
  margin-right: -15px;
}
.fullwidth.page .wide .media-item {
  width: 194px;
}
@media (max-width: 767px) {
  [role="main"] .page {
    margin-left: -21px;
    margin-right: -21px;
  }
  .fullwidth.page .wide .media-grid {
    margin-left: -40px;
    margin-right: -40px;
  }
  .fullwidth.page .wide .media-grid .media-item {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .fullwidth.page .module .module-content {
    padding-left: 0;
    padding-right: 0;
  }
}
[role="main"],
.main {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: 0;
}
[role="main"] .strapline {
  text-align: center;
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
  color: #5d5d5d;
  font-size: 26px;
  font-size: 2.6rem;
  text-transform: uppercase;
  position: relative;
  margin-top: 80px;
  z-index: 0;
}
[role="main"] .strapline span {
  background-image: url("../../../base/images/bg.png");
  padding: 0 20px;
}
[role="main"] .strapline:before {
  background-image: url("../../../base/images/opendata-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 80px;
  width: 100%;
  position: absolute;
  top: -80px;
}
[role="main"] .strapline:after {
  background-color: #c8c8c8;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  top: 18px;
  right: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  [role="main"] .strapline {
    display: none;
  }
}
.toolbar .breadcrumb {
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  font-size: 1.7rem;
  color: #5d5d5d;
}
.toolbar .breadcrumb li.home a {
  background-image: url("../../../base/images/opendata-logo-small.png");
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 35px;
}
.toolbar .breadcrumb li:after {
  content: " > ";
}
.toolbar .breadcrumb a {
  color: #5d5d5d;
}
/* Common */
.wrapper {
  background-image: none;
  background-color: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.module {
  background-color: #fff;
  border: solid 1px #c8c8c8;
}
.module .module {
  border: none;
}
.module .module-content {
  padding-top: 0;
  padding-bottom: 0;
}
.module .module-content:last-child {
  padding-bottom: 25px;
}
.module .module-heading,
.module .context-info h1.heading {
  background-color: transparent;
  border: none;
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 0;
}
.module .module-heading i,
.module .context-info h1.heading i {
  display: none;
}
.module .read-more {
  font-size: 12px;
  font-size: 1.2rem;
  padding-left: 5px;
  color: #5d5d5d;
}
.module .read-more:before {
  color: #87b555;
  content: "‣";
  float: left;
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
  font-size: 1.5em;
  margin-top: 2px;
}
.module .read-more:hover {
  color: #005499;
  text-decoration: none;
}
.secondary .module-heading {
  padding-left: 15px;
  padding-right: 15px;
}
.secondary .module .module-content {
  font-size: 15px;
  font-size: 1.5rem;
}
.secondary .module .context-info h1.heading {
  padding-top: 0;
}
.secondary .module .module .module-content:last-child {
  padding-bottom: 0;
}
.secondary .search-form {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 20px;
}
.secondary .search-form .control-order-by {
  float: none;
  margin-left: 15px;
  margin-right: 15px;
}
.secondary .search-form .control-order-by select {
  width: 100%;
}
.secondary .search-form h2 {
  font-family: 'PT Serif', Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  font-size: 1.5rem;
  text-transform: none;
  padding: 0 15px;
}
.nav-item.active > a,
.nav-aside li.active a,
.nav-item.active > a:hover,
.nav-aside li.active a:hover {
  background-color: #87b555;
  margin-left: -26px;
  padding-left: 16px;
}
.nav-item.active > a:before,
.nav-aside li.active a:before {
  background-image: none;
  background-color: #87b555;
  right: -3px;
  width: 3px;
}
.nav-facet .nav-item > a:hover:after,
.nav-facet .nav-item.active > a:after {
  background-image: none;
  content: "\f067";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  margin-top: -9px;
}
.nav-facet .nav-item.active > a:after {
  content: "\f00d";
}
.span9 div.module-content {
  padding-left: 25px;
}
.module-content:first-child {
  padding-top: 25px;
}
.search-form .search-input {
  display: none;
}
.search-form h2 {
  margin-top: 0;
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.span9 .page-header {
  margin-left: 0;
}
/* Home */
.homepage a.box {
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .homepage [role="main"] {
    margin-left: -21px;
    margin-right: -21px;
  }
  .homepage a.box {
    margin-top: -1px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .homepage [class*="span"] {
    display: table;
    margin-bottom: 20px;
  }
  .homepage [class*="span"] a.box {
    height: 110px;
    vertical-align: middle;
    display: table-cell;
    max-width: 0;
    /* behaves like 100% */
  }
}
@media (min-width: 992px) {
  .homepage [class*="span"] a.box {
    height: 150px;
    font-size: 20px;
    font-size: 2rem;
  }
}
/* Groups */
.media-grid .media-item {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 15px;
  font-size: 1.5rem;
}
.media-grid .media-view {
  border-color: #c8c8c8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.groups.page .primary .module {
  border: none;
  background-color: transparent;
}
.groups.page .primary .module .module-content {
  padding: 0;
}
.groups.page .primary .module .module-content .media-grid {
  background: none;
  border: none;
  margin: -15px -20px 0 -20px;
}
.groups.page .primary .module .module-content .media-grid .media-item {
  width: 195px;
}
@media (max-width: 767px) {
  .media-grid {
    margin-top: 0;
  }
  .media-grid .media-item {
    width: 100%;
    margin-top: -1px;
    padding-left: 20px;
    padding-right: 50px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .media-grid .media-item .media-image {
    display: none;
  }
  .groups.page .primary .module .module-content .media-grid .media-item {
    width: 100%;
  }
}
/* Add */
.stages {
  margin-top: -25px;
}
/* Footer */
.site-footer {
  background-image: none;
  background-color: #f8f8f7;
  color: #818181;
  border-top: solid 1px #e3e3e3;
  font-family: "PT Sans", "Trebuchet MS", tahoma, sans-serif;
}
.site-footer a {
  color: #818181;
}
.site-footer label,
.site-footer small {
  color: #818181;
}
.site-footer .attribution .ckan-footer-logo {
  height: 23px;
  background-size: contain;
}
@media (max-width: 767px) {
  .site-footer {
    margin-left: -20px;
    margin-right: -20px;
  }
  .site-footer .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
div.facebook a {
  color: #3B5998;
}
div.facebook a:hover {
  text-decoration: none;
}
div.facebook a i {
  font-size: 32px;
  font-size: 3.2rem;
}
@media (max-width: 767px) {
  div.footer p.contact {
    padding-left: 58px;
    min-height: 48px;
    background-image: url("../../../base/images/thjodskra-logo.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
  div.footer p.contact > i {
    display: none;
  }
  div.footer p.contact span.addr,
  div.footer p.contact span.tel,
  div.footer p.contact span.email {
    display: block;
  }
  div.footer div.facebook {
    padding: 10px 0;
    display: block;
    text-align: center;
  }
  div.footer ul.ckan {
    text-align: center;
  }
}
@media (min-width: 768px) {
  div.footer p {
    padding-left: 66px;
  }
  div.footer p.contact {
    margin-top: 15px;
  }
  div.footer p.contact:before {
    background-image: url("../../../base/images/thjodskra-logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    top: 4px;
    height: 48px;
    width: 48px;
  }
  div.footer p.contact span.addr,
  div.footer p.contact span.tel,
  div.footer p.contact span.email {
    white-space: nowrap;
  }
  div.footer p.contact i {
    display: inline-block;
    font-style: normal;
    margin-left: 0.28em;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    width: 1em;
  }
  div.footer p.contact i:before {
    content: "|";
    display: inline-block;
    margin-right: 2px;
    text-align: center;
    text-shadow: -1px 0 #c2c2c1;
    width: 100%;
  }
  div.footer div.facebook {
    text-align: right;
    line-height: 48px;
  }
  div.footer div.facebook a {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  div.footer ul.ckan {
    text-align: right;
  }
}
/* IE8 Hacks */
html.ie .account-masthead hgroup {
  width: 200px;
  height: 35px;
  position: absolute;
  overflow: hidden;
}
html.ie .masthead .site-search .field {
  float: left;
}
html.ie .masthead .site-search .field button {
  right: -215px;
}
html.ie .attribution .ckan-footer-logo {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/../../../base/images/ckan-logo-footer.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/../../../base/images/ckan-logo-footer.png', sizingMethod='scale')";
}
